# Playwright does not check the types and will run tests even if there are non-critical TypeScript compilation errors.
# So we run TypeScript compiler alongside Playwright to ensure there are no critical errors.
name: TypeScript Check

on:
  push:

jobs:
  ts-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run TypeScript check
        run: npx tsc --noEmit
